{% extends "todo/base.html" %}

{% block title %} Anna's To-Do List {% endblock %}

{% block content %}

<h2>Created by: <a href="mailto:nguyena9@student.lasalle.edu">Anna Nguyen</a></h2>

<p>Welcome! Please click a link below to get started:</p>

<ul>
	<li><a href="{% url 'todo:index' %}">Home</a></li>
	<li><a href="{% url 'todo:about' %}">About</a></li>
	<li><a href="{% url 'todo:create' %}">Create To-Do List</a></li>
	<li><a href="{% url 'todo:load' %}">Load To-Do List</a></li>
	<li><a href="{% url 'todo:links' %}">Other To-Do List Links</a></li>
</ul>


{% endblock %}